.app{
    overflow: hidden;
}
.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#ff6433,#f6402e);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 8px 0 0 0;
    display: flex;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
}
.header__navbar-user-name{
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu{
    z-index: 1;
    position: absolute;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 150px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    display: none;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-menu::before{
    content: "";
    border-width: 16px 20px;
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 20px;
    top: -25px;
}

.header__navbar-user-menu::after{
    content: "";
    width: 60%;
    height: 8px;
    position: absolute;
    right: 0;
    top: -8px;
    display: block;
}

.header__navbar-user-item{
    list-style: none;

}
.header__navbar-user-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    display: block;
    padding: 4px 16px;
}

.header__navbar-user-item a:hover{
    background-color: #f8f0f0;
}

.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-separate{
    border-top: 1px solid rgba(0,0,0,0.05)
}
.appear_QR:hover .header__QR{
    display: block;
}

.notify--appear:hover .header__notify{
    display: block;
}
.header__navbar-item,
 .header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;  
}
.header__navbar-item,
 .header__navbar-item-link.navbar-icon-link{
    display: inline-flex;
    align-items: center;
 }
.header__navbar-item:hover,
 .header__navbar-item-link:hover,
 .navbar-icon:hover{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
 }

.navbar-item-strong {
    font-weight: 400;
}

.navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top:50%;
    transform: translateY(-50%);
}

.navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.navbar-icon-link:nth-child(2){
    margin-left:3px;
}
.navbar-icon{
    size: 1.8rem;
    margin:0 4px;
}
.No-pointer{
    cursor:text;
    color: var(--white-color);
}

/* Header QR code */

.header__QR{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.header__QR::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}

.header__QR-img{
    width: 100%;
    margin-bottom: 5px;
}

.header__QR-apps{
    display: flex;
    justify-content: space-between;
}
.QR-apps-link:nth-child(1){
    margin-left: 11px;
}

.QR-apps-link:nth-child(2){
    margin-right: 11px;;
}
.QR-apps-dow{
height: 16px;
}

/* Notification */
.header__notify{
    position: absolute;
    top: 120%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: Notify ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
    border-radius: 2px;
}

.header__notify::before{
    content: "";
    border-width: 20px 27px;
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}
.header__notify::after{
    content: "";
    display: block;
    width: 90px;
    height: 20px;
    top: -16px;
    right: 0;
    position: absolute;
}
@keyframes Notify {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;

}

.header__notify-list{
    padding-left: 0;

}

.header__notify-item--viewed {
    background-color: rgba(238,75,43,0.08);
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
   
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--black-color);
    font-weight: 400;
    margin-bottom: 5px;
}

.header__notify-des{
    display: block;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #756F6E;
    
}

.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 32px;
    margin: auto;
    font-weight: 400;

}

/* Authen modal */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container{
    padding: 0 32px;

}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2.0rem;
    font-weight: 450;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 550;
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.3rem;
    border: 2px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #999;
}
.auth-form__aside{
    margin-top: 18px;
}

.auth-form__info{
    font-size: 1.2rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__info-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.control-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #eeebeb;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.social-icon{
    font-size: 1.8rem;
}

.img-gg{
    height: 19px;
    width: 19px;
}

.social-FB{
    color: var(--white-color);
    background-color: #3A5A98;
}
.social-text{
    margin: 0 36px;
}

.social-GG{
    background-color: var(--white-color);
    color: #666;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.3rem;
    color: #939393;
}

.auth-form__separate{
    display: block;
    height: 22px;
    margin: 0px 16px 0;
    border-left: 1px solid #EAEAEA;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

/* Navbar mobile */
.nav__mobile{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    max-width: 100%;
    background-color: var(--white-color);
    display: none;
}

.menu__overlay{
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
}

.header__mobile-navbar{
    margin-top: 24px;
    list-style: none;
}

.header__mobile-navbar-link{
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 10px 0;
    font-size: 1.6rem;
}

.nav__mobile-close{
    font-size: 1.8rem;
    color: #666;
    position: absolute;
    top: 5px;
    right: -5px;
    width: 30px;
    height: 30px;
}

.header__menu-checkbox:checked ~ .menu__overlay{
    display: block;
}

/* Header search */

.header__search{
    height: var(--header-search-height);
    display: flex;
    align-items: center;
}
.header__mobile-menu{
    font-size: 2.3rem;
    color: var(--white-color);
    display: none;
}

.header__mobile-btn-icon {
    font-size: 2.3rem;
    color: var(--white-color);
    margin-left:18px;
    display: none;
}

.header__logo{
    width: 200px;
    text-align: center;
}
.header__logo-link{
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}
.header__logo-img{
    width: 75px;
}

.header__cart{
    width: 150px;
    text-align: center;
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-icon{
    color: var(--white-color);
    font-size:2.3rem;
    margin-top: 2px;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 10px);
    right: -2px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0,0,0,0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;  
    display: none;  
    z-index: 1;
}
.header__cart-list::after{
    content: "";
    position: absolute;
    right: 3px;
    top: -26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    border-width: 16px 20px;
    cursor: pointer;
}

.header__cart-none-img{
    width: 50%;
    display: none;
}

.header__cart-none-msg{
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-list--none{
    padding: 24px 0;
}

.header__cart-list--none .header__cart-none-img,
.header__cart-list--none .header__cart-none-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-notice{
    position: absolute;
    padding: 1px 5px;
    font-size: 1.3rem;
    color: var(--primary-color);
    background-color: var(--white-color);
    line-height: 1.2rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    bottom: calc(100% - 10px);
    right: -4px;
   
}
.header__find{
    flex: 1;
    background-color: var(--white-color);
    border-radius: 2px;
    height: 40px;
    display: flex;
    align-items: center;
}

.header__find-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__find-input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__find-select{
    border-left: 1px solid #E8E8E8;
    padding:6px 16px;
    position: relative;
    cursor: pointer;
}

.header__find-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__find-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    width: 60px;
}
.header__find-btn:hover{
    cursor: pointer;
    background-color: #e86950;
}
.header__find-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__find-select:hover .header__find-option{
    display: block;
}

.header__find-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}

.header__find-option{
    position: absolute;
    right: 0;
    top: calc(100% - 2px);
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px rgb(224, 223, 223);
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__find-option-item{
    background-color: var(--white-color);
    padding: 8px;
}

.header__find-option-item:hover{
    background-color: #f4f2f2;
}

.header__find-option-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__find-option-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__find-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__find-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left:12px;
    display: none;
}
.header__find-option-item--active i{
    display: inline-block;
}

.header__find-input:focus ~ .header__find-history{
    display: block;
}

.header__find-checkbox:checked ~ .header__find{
    display: flex;
}

/*Find history*/
.header__find-history{
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(193, 192, 192);
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__find-history-heading{
    margin: 8px 12px;
    font-size: 1.3rem;
    color: #999;
    font-weight: 400;
}

.header__find-history-list{
    padding-left: 0;
    list-style: none;
    margin:6px 0 0;
}

.header__find-history-item{
    height: 38px;
    padding: 0 12px;    
}

.header__find-history-item:hover{
    background-color: #f8f6f6;
}
.header__find-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}

/* Mobile category */

.mobile-category{
    display: none;
}
.mobile-category__list{
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar{
   display: none; 
}

.mobile-category__item{
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link{
    background-color: #87AFD8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{
    background-color: #76C9BD;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link{
    background-color: #88CF81;
}


.mobile-category__link{
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 300;
    max-width: 110px;
    height: calc(var(--line-height) * 2);
    line-height: var(--line-height);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 7px;
    display: flex;
    align-items: center;
}

/* Cart Item */
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 55vh;
    overflow-y: auto;
}
.header__cart-item{
    display: flex;
    align-items: center;
}

.header__cart-item:hover{
    background-color: #F8F8F8;
}

.header__cart-img{
    width: 42px;
    height: 42px;
    margin:12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__cart-info-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-info-name{
    font-size: 1.4rem;
    line-height: 1.8rem;
    max-height: 3.6rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    text-align: left;
    padding-right: 12px;
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-info-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-info-multiply{
    color: #757575;
    font-size: 1.0rem;
    margin: 0;
}

.header__cart-info-qnt{
    color: #757575;
    font-size: 1.2rem;

}

.header__cart-info-body{
    display: flex;
    justify-content:space-between;
}

.header__cart-info-des{
    color: #757575;
    font-size: 1.1rem;
    font-weight: 300;
}

.header__cart-info-remove{
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 400;
}

.header__cart-info-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover{
    background-color: #f05D41;
}

/* Header sort */
.header__sort-bar{
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    align-items: center;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}
.header__sort-item--active .header__sort-link{
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);

}


.header__sort-item{
    flex: 1;
    list-style: none;
    position: relative;
}
.sort-item-price{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-item-price i{
    margin-left: 10px;
    top: 1px;
}
.header__sort-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    text-align: center;
    height: 100%;
    line-height: var(--header-sort-bar-height);
}

.header__sort-link::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height:60%;
    border-left: 1px solid var(--border-color);
}

.header__sort-item:first-child .header__sort-link::before{
    display: none;
}

.sort-input__list{
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 10px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}

.sort-input__list::after{
    content:"";
    position: absolute;
    height: 6px;
    width: 100%;
    top:-2px;
    left: 0;
    display: block;
}

.sort-item-price:hover .sort-input__list{
    display: block;
}

/* App container */

.app__container{
    background-color:#f6f4f4 ;
}

.app__content{
    padding-top: 36px;
}

.category{
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading{
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 10px 18px;
    margin: 0 0 4px 4px;
    text-transform: uppercase;
}

.category-list{
    padding:0 0 12px 0;
    margin-left: 10px;
    list-style: none;
    margin: 0 0 0 4px;
}

.category-item{
    border-top: 1px solid rgba(0,0,0,0.05);
}

.category-item--active .category-item__link{
    color: var(--primary-color);
}
.category-item--active .category-item__link::before{
    content: "";
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link{
    position: relative;
    right: 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
    transition: right linear 0.1s;
}

.category-item__link:hover{
    color: var(--primary-color);
    right: -4px;
}

/* Home sort + filter */
.home-filter{
    display: flex;
    background-color: rgba(0,0,0,0.04);
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__page{
    display: flex;
    align-items: center;
}

.home-filter--label{
    color: #555;
    font-size: 1.3rem;
    margin-right: 16px;
}

.home-filter-btn{
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-curent{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn{
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}

.home-filter__page-icon{
    margin: auto;
    font-size: 1.3rem;
    color: #555;
}

.home-filter__page-btn--disable{
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon{
    color: #ccc;
}

/* Product Item */
.home-product{
    margin-bottom: 10px;
}

.home-product-item{
    display: block;
    background-color: var(--white-color);
    margin-top: 10px;
    text-decoration: none;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}

.home-product-item:hover{
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.05);
    transform: translateY(-1px);
}

.product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.product-item__name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 10px 10px 6px;
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.product-item__price--old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.product-item__price--new{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.product-item__like{
    font-size: 1.2rem;
}

.product-item__liked-icon{
    display: none;
    color: #f63d30;
}

.product-item__liked .product-item__liked-icon {
    display: inline-block;
}
.product-item__liked .product-item__like-icon {
    display: none;
}

.product-item__star{
    font-size: 0.6rem;
    color: #D5D5D5;
    margin-left: auto;
}

.product-star-gold{
    color: var(--star-gold-color);
}

.product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 400;
    margin-left: 6px;
}

.product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 4px 10px;
    font-size: 1.2rem;
    color: #595959;
    font-weight: 300;
}

.product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color:currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius:3px;
    border-bottom-right-radius: 3px;
}

.product-item__favourite::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3.5px solid currentColor;
    border-left:3.5px solid transparent;
    filter: brightness(60%);
}

.product-item__favourite span{
    color: var(--white-color);
}

.product-item__favourite i{
    font-size: 0.9rem;
    margin: 0 3px 0 4px;
    color: var(--white-color);
}

.product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    width: 40px;
    border-top-right-radius: 2px;
    background-color: rgb(255,216,64,0.94);
    text-align: center;
}

.product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4.8px;
    border-width: 0 20px 5px;
    border-style: solid;
    color: rgb(255,216,64,0.94);
    border-color:transparent currentColor transparent currentColor;
}

.product-item__sale-off-percent{
    font-size: 1.2rem;
    color: #EE4D2D;
    font-weight: 600;
    line-height: 1.2rem;
    position: relative;
    top: 2px;
}

.product-item__sale-off-label{
    font-size: 1.2rem;
    line-height: 1.3rem;
    font-weight: 500;
    color: var(--white-color);
    position: relative;
    top: -1px;
}

.home-product__pagination{
    margin: 48px 0 32px 0;
    padding-left: 0;
}

/* Footer */
.footer{
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}

.footer__heading{
    font-size: 1.4rem;
    color: var(--text-color);
    text-transform: uppercase;
}
.footer__list{
    padding-left: 0;
    list-style: none;
}

.footer__list-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 4px 0;
    display: flex;
    align-items: center;
}

.footer__list-link:hover{
    color: var(--primary-color);
}

.footer__list-link-icon{
    font-size: 1.6rem;
    margin-right: 8px;
}
.footer__download{
    display: flex;
}
.footer__download-qr{
    width: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}
.footer__download-apps{
    display: flex;
    margin-left: 16px;
    flex-direction: column;
    justify-content: center;
}
.footer__download-app{
    height:16px;
}

.footer__bottom{
    background-color: #F5F5F5;
    padding: 12px 0;
    margin-top: 36px;
}
.footer_text{
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}

.col.l-2-4.m-4.c-6.hide{
    display: none;
}



